<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build-A-Page</title>
    
    <link rel="stylesheet" href="./css/style.css" type="text/css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/5.0.0/gridstack-jq.min.js" integrity="sha512-oF8ns4Wj5mlG9yIfHYCz/gVsupgJ5TWV9LtSb7rlTkxkmj7htLvNpW39oMLHVB941mdHUDIkoF32Pn8IF9RsDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/5.0.0/gridstack.min.css" integrity="sha512-fUN9aO64eYDb4vrlQrSuhabckaNlFo/+34YxvRZ4+l9mk8NZHsWVw1nIWLM++oN/1U5rY+Q+1bWFeLT+dA9YPQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body class="w-full h-full">
    <nav class="flex justify-between item-center p-4 h-20 bg-orange-200">
        <h1 class="text-2xl sm:text-5xl text-black font-bold">Build-A-Page</h1>
        <div class="flex gap-3 font-medium text-md mt-1 items-center">
            <a href="/dashboard">📄 Dashboard</a>
            {{#if logged_in}}
            <button class="font-medium text-md" id="logout-btn">🔑 Logout</button>
            {{else}}
            <a href="/signup">🔑 Sign up <span class="hidden sm:inline">& get started now!</span></a>
            {{/if}}
        </div>
    </nav>
    <main class="h-leftover">
        {{{body}}}
    </main>
</body>
    {{#if logged_in}}
        <script src="./js/logout.js"></script>
    {{/if}}
</html>
